body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.swiper-container {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: black; /* Optional: Set a black background */
}

.swiper-slide video {
  width: auto;
  height: 100vh;
  max-width: 100%;
  object-fit: contain;
  transform-origin: top center;
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}

.swiper-slide.swiper-slide-prev video {
  animation: slideOut 1s forwards;
}

@keyframes slideOut {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100%);
  }
}
